<!DOCTYPE html>
<html>

<head>
  <title>HomePage</title>
  <link rel="stylesheet" href="/style.css">
</head>
<!-- <style>
  body {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

  }
</style> -->

<body>
  <div class="container">
    <% if (user) { %>
      <h1>Welcome <%= user.email %>
      </h1>
      <!-- <p>Hello How  Are  You</p> -->
      <header>
        <nav>
          <!-- <a href="#">Home</a> -->
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
      </header>

      <!-- <section class="hero">
        <h1>Welcome to My Website</h1>
      </section> -->

      <section class="about">
        <h2>Welcome</h2>
        <p> To The App. </p>
      </section>

      <footer>
        <p>Copyright &copy; 2023
          <a href="#">Privacy Policy</a>
          <a href="#">Terms &amp; Conditions</a>
        </p>
      </footer>

      <form action="/logout" method="get">
        <button type="submit">Logout</button>
      </form>
      <form action="/reset-password" method="get">
        <button type="submit">Reset Password</button>
      </form>
      <% } else { %>
        <div class="special">
          <h1>Log In To Your Account</h1>
          <p class="message">
            <%= message %>
          </p>

          <button type="submit"><a href="/login">Login</a></button>
          <button><a href="/signup">Sign up</a></button>
        </div>
        <% } %>
  </div>
</body>

</html>